html{
    font-family: "Roboto","Droid Sans" "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
    font-size: 14px;
    color: #555;
}
body{
    margin: 0;
}
.wrap{
    width: 600px;
    margin: 50px auto;
}

input {
    display: block;
    width: 400px;
    margin: 10px;
    outline: none;
    padding: 10px 5px;
    border-radius: 5px;
    border:1px solid #999999;
}
input:hover{
    border-color: hsl(200, 100%, 50%);
}
button{
    padding: 10px 30px;
    margin: 10px;
    outline: none;
    background:#0098e5;
    color: #fff;
    border-radius: 6px;
    border: 1px solid #0087cc;
    cursor: pointer;
}
button:hover{
    background: #00a3f4;
}
p{
    margin: 0;
    line-height: 2;
}
.info{
    border-bottom: 1px solid #ddd;
}